.container {
  padding: 0 !important;
  .image-container-section {
    display: flex;
    padding: 2rem;
    justify-content: space-around;

    .image-section {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      .product-image {
        width: 400px;
        height: 400px;
        border-radius: 10px;
        padding-bottom: 2rem;
        @media screen and (max-width: 768px) {
          width: 355px;
          height: 250px;
          margin-top: 2rem;
        }
      }
    }
    .content-section {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 400px;
      height: 400px;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      border-radius: 10px;
      background-color: #f6f2fa;
      padding-bottom: 2rem;

    }
  }
}
